<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.libarymanage.dao.mapper.BookAdminMapper">
  <resultMap id="BaseResultMap" type="com.example.libarymanage.entity.BookAdmin">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="ad_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ad_password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ad_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="admail" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.libarymanage.entity.BookAdmin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into book_admin (ad_name, ad_password, ad_phone, 
      admail)
    values (#{adName,jdbcType=VARCHAR}, #{adPassword,jdbcType=VARCHAR}, #{adPhone,jdbcType=VARCHAR}, 
      #{admail,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.libarymanage.entity.BookAdmin">
    update book_admin
    set ad_name = #{adName,jdbcType=VARCHAR},
      ad_password = #{adPassword,jdbcType=VARCHAR},
      ad_phone = #{adPhone,jdbcType=VARCHAR},
      admail = #{admail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, ad_name, ad_password, ad_phone, admail
    from book_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, ad_name, ad_password, ad_phone, admail
    from book_admin
  </select>
  <select id="selectByAdName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, ad_name, ad_password, ad_phone, admail
    from book_admin
    where ad_name = #{ad_name,jdbcType=VARCHAR}
  </select>
</mapper>