<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.libarymanage.dao.mapper.SystemAdminMapper">
  <resultMap id="BaseResultMap" type="com.example.libarymanage.entity.SystemAdmin">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="admin_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="admin_password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="admin_phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="admin_email" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.libarymanage.entity.SystemAdmin">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into system_admin (admin_name, admin_password, admin_phone, 
      admin_email)
    values (#{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}, #{adminPhone,jdbcType=VARCHAR}, 
      #{adminEmail,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.libarymanage.entity.SystemAdmin">
    update system_admin
    set admin_name = #{adminName,jdbcType=VARCHAR},
      admin_password = #{adminPassword,jdbcType=VARCHAR},
      admin_phone = #{adminPhone,jdbcType=VARCHAR},
      admin_email = #{adminEmail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, admin_name, admin_password, admin_phone, admin_email
    from system_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, admin_name, admin_password, admin_phone, admin_email
    from system_admin
  </select>
  <select id="selectByAdminName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, admin_name, admin_password, admin_phone, admin_email
    from system_admin
    where admin_name = #{admin_name,jdbcType=VARCHAR}
  </select>
  <update id="changePassword" parameterType="com.example.libarymanage.entity.SystemAdmin">
    update system_admin
    set
    admin_password = #{adminPassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="editData" parameterType="com.example.libarymanage.entity.SystemAdmin">
    update system_admin
    set
    admin_phone = #{adminPhone},
    admin_email = #{adminEmail}
    where id = #{id}
  </update>
</mapper>